html {
  background-color: $voertuig-black;
}
body {
  min-width: 320px;
}
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 100px;
  h1 {
    position: relative;
    margin-left: 1rem;
    font-size: 2rem;
  }
  h2 {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    font-weight: 200;
  }
  h3 {
    position: relative;
    background-color: $voertuig-black;
  }
  h4 {
    color: $voertuig-white-sec;
  }

  #VoertuigDetailContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem;
    @media screen and (min-width: 768px) {
      max-width: 1280px;
      padding: 0rem 2rem;
    }
    ul {
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 200px;
      li {
        width: 100%;
        &.title {
          display: flex;
        }
        p {
          color: $voertuig-white;
        }
        list-style: none;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 768px) {
          max-width: 40%;
          flex-direction: column;
          align-items: inherit;
        }
      }
    }
  }

  .blockholder {
    display: flex;
    flex-direction: column;
    width: 100%;
    header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-end;
      justify-content: space-between;
      z-index: 1;
      position: fixed;
      background-color: $voertuig-grey;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      div {
        padding: 1rem;
        @media screen and (min-width: 768px) {
          padding: 2rem;
        }
        h4 {
          font-size: 1.5rem;
          color: $voertuig-blue;
        }
        &:nth-child(1) {
          h4 {
            color: $voertuig-white;
          }
          p {
            color: $voertuig-white-sec;
          }
          background: $voertuig-blue-sec;
        }
        &:nth-child(2) {
          display: none;
          @media screen and (min-width: 768px) {
            display: block;
          }
        }
      }
    }
    ul {
      li {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        a {
          display: block;
          text-decoration: none;
          span {
            display: block;
            color: $voertuig-grey-sec;
          }
        }
        h1 {
          text-align: left;
        }
      }
    }

    #VoertuigOverzichtContainer {
      ul {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin-block-end: 0;
        margin: auto;

        li {
          position: relative;
          max-width: 320px;
          width: 50%;
          @media screen and (min-width: 768px) {
            max-width: 450px;
            width: 100%;
          }
          h5 {
            padding-left: 25px;
            background-position: 5px;
            color: $voertuig-white;
            position: relative;
            text-align: left;
            cursor: pointer;
            top: 0;
            margin: 0;
            z-index: 1;
            transform: rotate(0deg);
            background-image: url("../img/info-circle-solid.svg");
            background-repeat: no-repeat;
            background-size: 15px;
            text-decoration: underline;
            &:hover {
              color: $voertuig-blue;
            }
          }
          a {
            text-decoration: none;
            h3 {
              transition: 0.3s ease;
              margin: 1rem 0rem;
              margin: 0;
              padding: 0;
              background-image: url("../img/chevron-right-solid.svg");
              background-repeat: no-repeat;
              background-size: 10px;
              background-position: -10% 6px;
              padding-left: 0px;
            }
            &:hover {
              h3 {
                color: $voertuig-white;
                padding-left: 30px;
                background-position: left 3px;
              }
            }
          }
        }
      }
    }
  }
}

a {
  &.backlink {
    background-color: $voertuig-grey;
    color: $voertuig-white;
    text-decoration: none;
    padding: 0rem;
    background-image: url("../img/chevron-left-solid.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    bottom: 0;
    left: 0;
    position: fixed;
    background-size: 1rem;
    font-family: "Segoe-Pro-Semibold";
    width: 56px;
    height: 56px;
    &:hover {
      background-color: darken($voertuig-blue, 10%);
    }
  }
}

.loader {
  width: 2rem;
  height: 2rem;
  border: 5px solid $voertuig-white;
  border-top: 6px solid $voertuig-blue;
  border-radius: 100%;
  margin: auto;
  animation: spin 1s infinite linear;
  z-index: 6;
  position: absolute;
  top: 50%;
  left: calc(50% - 2rem);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  &:after {
    content: "";
    position: fixed;
    display: block;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      $voertuig-black
    );
    width: 63px;
    left: 290px;
    @media screen and (min-width: 768px) {
      width: 63px;
      left: 543px;
    }
    height: 58px;
    z-index: 5;
  }

  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: $voertuig-black;
  z-index: 2;
  width: 250px;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
  overflow: auto;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  padding: 0px 50px;
  li {
    list-style: none;
    color: $voertuig-blue;
    background-color: $voertuig-black;
    text-decoration: none;
    cursor: ew-resize;
    //cursor:pointer;
    //cursor: move;
    line-height: 1rem;
    padding: 20px;
    margin: 0px;
    font-family: "Segoe-Pro-Semibold";
    &.active {
      background-color: $voertuig-blue;
      color: $voertuig-black;
    }
  }
}
.trackEl {
  background: $voertuig-grey;
  position: fixed;
  bottom: 0;
  top: calc(100% - 50px);
  right: -205px;
  z-index: 3;
  max-height: 300px;
  overflow-y: scroll;
  width: 250px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  @media screen and (min-width: 768px) {
    right: 0px;
  }
  &.open {
    top: inherit;
    bottom: 0px;
    right: 0px;
  }

  h5 {
    cursor: pointer;
    color: $voertuig-blue;
    margin: 0.5rem;
    margin-left: 1rem;
    background-image: url(../img/info-circle-solid.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 2rem;
    background-position: center left;
    font-family: "Segoe-Pro-Light";
    background-color: $voertuig-grey;
    top: 0;
    position: absolute;
  }
  span {
    &:first-child {
      margin-top: 3rem;
    }
    color: $voertuig-white-sec;
    padding-left: 1rem;
    display: block;
    text-align: center;
    padding-bottom: 1rem;
  }
}

form {
  color: $voertuig-grey-sec;
}
